beautifulsoup4==4.12.*
click==8.1.*
cryptography==42.0.*
lru-cache @ git+https://github.com/josh/py-lru-cache.git@991c4a0aeda1960a136611bce31989c4f7d9dc8a
lxml==5.2.*
mutagen==1.47.*
mypy==1.10.*
prometheus-client==0.20.*
pytest==8.2.*
python-dateutil==2.9.*
requests==2.31.*
ruff==0.4.*
types-beautifulsoup4==4.12.*
types-python-dateutil==2.9.*
types-requests==2.31.*
