name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .cache/
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Test with pytest
        run: |
          uv run pytest --log-cli-level info --verbose
        env:
          XDG_CACHE_HOME: .cache/
          OVERCAST_COOKIE: ${{ secrets.OVERCAST_COOKIE }}
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
