name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: .cache/
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Test with pytest
        run: |
          uv run pytest --log-cli-level info --verbose
        env:
          XDG_CACHE_HOME: .cache/
          OVERCAST_COOKIE: ${{ secrets.OVERCAST_COOKIE }}
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
