name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv pip install --system --requirement requirements.txt

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: .cache/
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Test with pytest
        run: |
          pytest --log-cli-level info --verbose
        env:
          XDG_CACHE_HOME: .cache/
          OVERCAST_COOKIE: ${{ secrets.OVERCAST_COOKIE }}
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
