name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .cache/
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Test with pytest
        run: |
          uv run pytest --log-cli-level info --verbose
        env:
          XDG_CACHE_HOME: .cache/
          OVERCAST_COOKIE: ${{ secrets.OVERCAST_COOKIE }}
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
